@import url(normalize.css);
body{
    background: #2D7E3E no-repeat url(../images/werewolf-bg.png);
    background-size: cover;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

header img{
    margin-left: 2em;
    width: 100px;
}

header h1{
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding-top:20px;
}

header button{
    border: none;
    border-radius:10px;
    padding:5px 10px;
    font-size:2em;
    background-color: #2EB096;
    margin-top:40px;
    margin-right: 20px;
    cursor: pointer;
}

header button:hover{
    opacity: 0.5;
}

header button:active{
    background-color: #41BF5C;
}

main{
    margin: 13em 0;
    width: 100%;
}

.hero{
    background-color: #55397D;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: 11em 20px;
}

.hero p{
    /* line-height: 3em; */
    font-size: xx-large;
}

.skill-flow{
    width: 100%;
    position: absolute;
    top: -11em;
    display: flex;
}

.skill {
    width: 25%;
}

.animation-frame{
    margin: 0 auto;
    width: 1em;
    height: 10em;
    background-color: cornflowerblue;
}

.box-enter{
    width: 1em;
    height: 10em;
    background-color: #163D1F;
    animation: box-enter 3s ease 0s infinite forwards;
}

@keyframes box-enter {
    0% { clip-path: inset(-5% 25% 95% 25%); }
    50% { clip-path: inset(45% 25% 50% 25%); }
    100% { clip-path: inset(95% 25% -5% 25%); }
}

.hero img{
    border-radius: 50%;
    width: 200px;
}

.portfolio {
    width: 100%;
    position: absolute;
    bottom: -11em;
}

.portfolio a:hover{
    text-decoration: underline;
}

@media (max-width: 1300px){
    .hero{
        width: calc(100vw - 80px);
    }
}

@media (max-width: 840px){
    .hero img{
        width: 100px;
    }
    .hero p{
        font-size: x-large;
    }
}